#starmap-splash {
  position: absolute;
  box-sizing: border-box;
  width:80%;
  height:35%;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  /* padding: 1em; */
  /* margin-bottom: 10px; */
  /* margin-top:20px; */
  /* border-radius: 20%; */
  border: 1px solid rgba(0, 40, 83, 1);
  border-radius: 50px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,28,96,1) 200%);
}



body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.formHeading {
  color: azure;
  font-size: 38px;
  margin: auto;
  padding-bottom: 0.5em;
  padding-top: 1em;
  /* font-weight: 700; */
  /* border: 2px solid red; */
  width: 68%;
}

.heading {
  color: azure;
  font-size: 44px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  /* font-weight: 700; */
}

hr {
  display: block;
  width: 50%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;

  margin: auto;
  margin-top: 0.6em;
  padding: 0;
}

#formContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  color: azure;
  width: 70%;
  /* margin-top: 60%; */
  margin: auto;
  /* padding: 1em; */
  min-height: 60vh;
  /* border: 2px solid blueviolet; */
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,203,1) 200%);
  /* background-color: black; */
  /* background-image: url("./formbg2.png"); */
  /* border-radius: 10px 100px / 120px; */
}

#nameStarSub {
  font-size: 18px;
  padding-top: 1rem;
}

.name, .message, .email{
  padding: 0.6em;
  margin: auto;
  font-size: 18px;
  width: 70%;
  /* border: 2px solid red; */
}

textarea, input {
  font-family: 'Montserrat', sans-serif;
}

#name, #email {
  width: 100%;
  height: 8vh;
  /* border: 2px solid blueviolet; */
  font-size: 18px;
  padding: 1rem;
  background-color : transparent;
  border: 1px solid rgb(0,117,255);
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 14vh;
  padding: 1em;
  /* line-height: 1.5; */
  font-size: 18px;
  background-color : transparent;
  border: 1px solid rgb(0,117,255);
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 700; */
}


.buttons {
  display: flex;
  margin: auto;
}



.submit {
  /* padding-top: 2em;
  padding-bottom: 1em; */
  padding: 2rem;
  /* transform: translate(-20%, -50%); */
  /* position: absolute;
  top: 23%;
  left: 20%; */
  box-sizing: border-box;
}

.mint{
  /* padding-top: 2em;
  padding-bottom: 1em; */
  /* transform: translate(-20%, -50%); */
  padding: 2rem;
  /* position: absolute;
  top: 23%;
  left: 50%; */
  box-sizing: border-box;
}


#submit, #mint {
  /* border: 2px solid blueviolet; */
  border-radius: 30px;
  width: 35vh;
  height: 7vh;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: 1px solid rgb(0,117,255);
  background-color: rgb(0,117,255);
  /* border: none; */
}

.popup {
  position: absolute;
  top: -60%;
  /* left: 15%; */
  /* right: 15%; */
  opacity: 0;
  transform: translate(-10%, -20%) scale(1.25);
  border-radius: 30px;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
  /* border: 2px solid slateblue; */
}

.popup.active {
  /* width: 70%; */
  top: 20%;
  /* margin: auto; */
  opacity: 1;
  transform: translate((30%, 40%)) scale(1.25);

  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top:25px;
  right: 25px;
  width: 25px;
  height: 25px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 25px;
  border-radius: 15px;
  cursor: pointer;
}

#root {
  /* z-index: 1; */
  /* position: absolute;
  width: 100%;
  z-index: 2; */
  margin: 0;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: 10; */
}

.imageWrapper{
  width: 50vh;
  height: 150px;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* margin: auto; */
  /* border: 2px solid red; */
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,203,1) 200%);
  border-radius: 25px;
  box-sizing: border-box;
}

#yellowStar {
  /* width: 200px; */
  /* height: 250px; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: auto; */
  /* border: 2px solid salmon; */
}

.sampleStarContainer {
  font-size: 1rem;
  align-self: center;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
}

#sampleStarName {
  font-size: 1.5rem;
}

.cardsContainer {
  width: 100%;
  /* height: 30%; */
  /* overflow: hidden; */
  position: relative;
  margin: auto;
  margin-bottom: 0;
  overflow:scroll;
  /* border: 2px solid yellowgreen; */
}

#pages {
  width: 75%;
  height: 80vh;
  display: flex;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* overflow: scroll; */
  /* align-self: flex-start; */
  flex-wrap: wrap;
  justify-content: left;
  overflow:scroll;
  /* overflow: scroll; */
  flex-direction: column;
  position: relative;
  transition: 0.5s;
  /* border: 2px solid red; */
}

/* #cards::-webkit-scrollbar{
  visibility: hidden;
} */

.page {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  /* overflow: scroll; */
  /* margin: 0; */
  /* margin-right: 10px; */
  /* position: relative;
  /* flex-direction: column; */
  /* z-index: 10; */
}

.container {
  width: 100%;
  /* position: relative; */
  /* height: 100%; */
  /* box-sizing: border-box; */
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid fuchsia; */
}

.card {
  display: flex;
  position: relative;
  width: 35vh;
  flex-grow: 1;
  /* flex-direction: column; */
  color: #fff;
  /* box-sizing: border-box; */
  padding: 1rem;
  font-size: 14px;
  align-content: baseline;
  /* overflow: scroll; */
  /* margin: auto; */
  margin: 5px;
  /* width: 30%; */
  height: 15vh;
  transition: 0.5s;
  /* border: 2px solid rgb(0,117,255); */
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,28,96,1) 200%);
  border-radius: 20px;
}

.starIcon {
  /* width: 20vh; */
  /* height: 20vh; */
}

.data {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  padding-left: 1rem;
}

.starName, .uniqueId, .mag {
  padding-bottom: 0.4rem;
}



#leftArrow, #rightArrow {
  position: absolute;
  top: 35%;
  color:#fff;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  left: 10.5%;
  z-index: 1;
}

#rightArrow{
  left:88%;
  text-align: right;
}
.search {
  width: 60vh;
  margin-bottom: 3%;
  display: flex;
  justify-content: flex-start;
  margin-left: 11%;
}

.searchInput {
  width: 60vh;
  height: 7vh;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,28,96,1) 200%);
  padding: 1em;
  border: 1px solid gray;
}

#search {
  width: 15vh;
  height: 7vh;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 1em;
}


.h1 {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  /* border: 2px solid yellowgreen; */

  /* @media screen and (max-width: 480) {
    font-size: 2rem;
  } */
}

.typeButton{
  position: relative;
  /* background-color: black; */
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.typeButton:hover {
  transition-duration: 0.1s;
  /* background-color: #3A3A3A; */
}

.typeButton:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.typeButton:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.typeButton:active {
  top: 1px;
}

.starbg {
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.starpng {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.paymentFormContainer {
  text-transform: capitalize;
  transition: all .2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  /* min-height: 80vh; */
  width: 100%;
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,203,1) 200%); */
  /* border: 2px solid yellowgreen; */
}

.paymentFormContainer form {
  padding: 20px;
  width: 115%;
  /* height: 45vh; */
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,203,1) 200%);
  /* border: 2px solid red; */
}

.paymentFormContainer form .row {
  display: flex;
  /* flex-wrap: wrap; */
  gap:15px;
}

.paymentFormContainer form .row .col {
  flex: 1 1;
}

.paymentFormContainer form .row .col .title {
  font-size:18px;
  color: #fff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.paymentFormContainer form .row .col .inputBox {
  margin: 15px 0;
}

.paymentFormContainer form .row .col .inputBox span {
  margin-bottom: 5px;
  display: block;
  color: #fff;
  font-size: 14px;
}

.paymentFormContainer form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 14px;
  text-transform: none;
}

.paymentFormContainer form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.paymentFormContainer form .row .col .flex{
  display: flex;
  gap: 12px;
}

.paymentFormContainer form .row .col .flex .inputBox {
  margin-top: 5px;

}

.paymentFormContainer form .row .col .inputBox img {
  height: 28px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.paymentFormContainer form .checkout-btn{
  width:50%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,59,203,1) 200%);
  margin-top: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.paymentFormContainer form .checkout-btn:hover{
  background: rgba(59,59,203,1);
}

.paymentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}



